.header {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 50px;
  flex-wrap: wrap;
  background-color: #edc5fd;
  border: 10px solid #270f34;
  padding: 20px;
  max-width: 920px;
}

.text-content,
.just-container {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.sound {
  margin-top: 50px;
}

.text-mines,
.text {
  font-size: 20px;
}

button {
  cursor: pointer;
}

.btn-text {
  width: 80px;
  height: 40px;
  border: 3px solid #2f2f2f;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  background-color: #ffffff;
}

.sound-btn {
  width: 50px;
}

.btn-team__text {
  width: 80px;
  height: 30px;
  border: 3px solid #2f2f2f;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
}

.texts-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

input {
  width: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 20px auto;
}

.minesweeper {
  display: flex;
  flex-wrap: wrap;
  background-color: #db87f1;
  border: 10px solid #2f2f2f;
}

.minesweeper__cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #811616;
  padding: 0;
  font-family: fantasy;
  font-size: 20px;
  cursor: pointer;
}

.clicked {
  background-color: #fae7e5;
  cursor: default;
}

.modal {
  border: 15px solid #0c092f;
  position: fixed;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #edc5fd;
  margin: auto;
  z-index: 2;
  border-radius: 100px;
  top: 20%;
  left: 40%;
  font-size: 40px;
}

.cross-modal {
  font-size: 20px;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.btn-new-game {
  background-color: #f61d1d;
  width: 50px;
  height: 50px;
}

.body-dark {
  background-color: #1e1a1a;
}

.header-dark {
  background-color: #778de1;
  border: 10px solid #efedf5;
}

.text-dark {
  color: lavender;
}

.minesweeper-dark {
  background-color: #91a4ee;
  border: 10px solid #ffffff;
}

.modal-dark {
  border: 15px solid #ffffff;
  background-color: #576dc0;
}

.modal-text-dark {
  color: #ffffff;
}

@media (max-width: 430px) {

  .header,
  .just-container {
    flex-direction: column;
  }

}